
@{
    ViewData["Title"] = "Crawing";
}

<h2>Crawing...</h2>
<div class="container">
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            Input Base Url:<input type="text" id="txtUrl" />
            <input type="button" id="btnCraw" value="Start Crawing..." />
        </div>
    </div>
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>标题</th>
                <th>抓取链接数量</th>
                <th>内容长度</th>
                <th>耗时</th>
            </tr>
        </thead>
        <tbody id="myTb"></tbody>
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap-table.js"></script>
<script type="text/javascript">
    $(function () {
        //服务地址
        //let hubConnection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        //let hubUrl = window.location.host + "/chatHub";
        let hubUrl = 'http://localhost:44354/chathub';
        let httpConnection = new signalR.HttpConnection(hubUrl);
        let hubConnection = new signalR.HubConnection(httpConnection);

        $("#btnCraw").click(function () {
            starCraw($('#txtUrl').val());
        });

        //服务器回调方法
        hubConnection.on('Show', meg => {
            addRow(meg);
        });
        hubConnection.start();

        function starCraw(crawurl) {
            var url = "https://" + window.location.host + "/api/Crawller/" + crawurl;
            $.get(url,  function (resultJSONObject) {
                if (resultJSONObject.success) {
                    $.messager.alert("系统提示", "成功", "info");
                } else {
                    $.messager.alert("系统提示", "失败", "error");
                }
            });
        }

        let addRow = function (msg) {
            var trTemp = $("<tr></tr>");
            trTemp.append("<td>" + "<a href=" + msg.sourceLink + ">" + msg.pageTitle + "</a>" + "</td>");
            trTemp.append("<td>" + msg.subTitleCount + "</td>");
            trTemp.append("<td>" + msg.size + "</td>");
            trTemp.append("<td>" + msg.time + "</td>");
            trTemp.appendTo("#myTb");
        }
    });
</script>